{{ define "main" }}

{{ $data := index .Site.Data .Site.Language.Lang }}

{{ with $data.about.our_culture }}
<section id="about" class="p-0 mb-5">
  {{ partial "page-header-bgimage.html" . }}

  <div class="container about-full-desc mt-5">
    <div class="col-sm-12">
      {{ range .description }}
      <p>{{ .item }}</p>
      {{ end }}
    </div>
  </div>

  <div class="container-fluid mt-5" style="background-color: var(--blue-mw-dark);">
    <div class="col-sm-12 mb-5 text-center text-uppercase">
      <h2 class="culture-header">{{ .page_header }}</h2>
    </div>
  </div>
</section>

{{ end }}

{{ with $data.about.our_values }}
<div class="container about-full-desc mb-5 pb-3" id="{{ .id }}">
  <div class="col-sm-12 text-center text-uppercase pillars mt-5 mb-5 pt-3">
    <h2>{{ .title }}</h2>
  </div>
  <div class="col-sm-12 pl-5 pr-5">
    {{ range .values }}
    <div class="row">
      <div class="col-sm-4 text-center">
        <h4 style="font-weight: 700;">{{ .value }}</h4>
      </div>
      <div class="col-sm-8">
        <p>{{ .description }}</p>
      </div>
    </div>
    {{ end }}
  </div>
</div>
{{ end }}

{{ with $data.about.why_work_with_us }}
<div class="container-fluid text-center cont-service-benefits">
  <h2>{{ .title }}</h2>
  <div class="row text-left justify-content-center">
    {{ range .benefits }}
    <div class="col-sm-4 d-flex align-items-center pt-4 ml-1 mr-1">
      <img src="{{ .icon }}">
      <p>{{ .benefit }}</p>
    </div>
    {{ end }}
  </div>
</div>
{{ end }}

{{ with $data.about }}
<div class="container about-full-desc mt-5 mb-5 pt-5" id="{{ .gptw.id }}">
  <div class="row mb-5">
    <div class="col-md-3">
      <img src="/images/gptw.webp" style="max-height: 280px; display: block;">
    </div>
    <div class="col-md-9">
      <div class="col-md-12 text-center">
        <h2 style="padding-top: 0; padding-bottom: 1em; font-size: 2em; font-weight: 700; line-height: 1.4em; color: var(--blue-mw-dark);">{{ .gptw.statement | markdownify }}</h2>
      </div>
      <div class="col-md-12">
      {{ range .gptw.description }}
      <p>{{ .item }}</p>
      {{ end }}
      </div>
    </div>
  </div>
</div>
{{ end }}

{{ with $data.about.cta }}
{{ partial "cta.html" . }}
{{ end }}

{{ end }}
