<div class="container-fluid pb-4" style="background-color: {{ .background }};">
  <div class="col-sm-12 text-center text-uppercase pillars pt-5 pb-5">
    <h2>{{ .benefits.title }}</h2>
  </div>
  <div class="row justify-content-center pl-3 pr-3">
    {{ $count := 0 }}
    {{ $img_position := .img_position }}
    {{ $image := .benefits.image }}
    {{ if eq $img_position "left" }}
    <div class="d-none d-md-block col-md-4 col-lg-3" style="margin: 0 1em 2em 1em; padding: unset;">
      <img src="{{ .benefits.image }}" style="object-fit: cover; height: 100%; width: 100%; border-radius: 28px;">
    </div>
    {{ end }}
    {{ range .benefits.benefits }}
    {{ if eq $img_position "right" }}
    {{ if eq $count 2 }}
    <div class="d-none d-md-block col-md-4 col-lg-3" style="margin: 0 1em 2em 1em; padding: unset;">
      <img src="{{ $image }}" style="object-fit: cover; height: 100%; width: 100%; border-radius: 28px;">
    </div>
    {{ end }}
    {{ $count = add $count 1 }}
    {{ end }}
    <div class="col-sm-10 col-md-4 col-lg-3" style="background: white; border: 2px solid #c6c6c6; border-radius: 28px; margin: 0 1em 2em 1em; padding-left: 2em; padding-top: 2em; padding-bottom: 1em;">
        <i class="{{ .icon }}" style="font-size: 2em; color: #52B04F; border: 1px solid #fafafa; background: #e5f1df; padding: 0.5em; border-radius: 16px;"></i>
        <h4 style="color: black; padding-top: 0.5em; padding-bottom: 0.5em;">{{ .title }}</h4>
        <p style="line-height: 1.5em; color: var(--main-font-color);">{{ .description }}</p>
    </div>
    {{ end }}
  </div>
</div>

